* {
 margin: 0px;
 padding: 0;
}

#main-container {
  display: flex;
  flex-wrap: wrap;
  place-content: space-around;

  
}

div {
    border: 1px solid black;
    
}

#first-block {
    background-color: red;
    width: 100vw;
    height: 20vh;
   
}

.blue-block {
    background-color: blue;
    width: 25vw;
    height: 20vh;
    margin: 5px;
    display: flex;
    place-content: center;
    place-items: center;
    
}

.yellow-block {
    background-color: yellow;
    width: 25vw;
    height: 20vh;
    margin: 5px;
    display: flex;
    place-content: center;
    place-items: center;
   
}

.green-block {
    background-color: green;
    width: 25vw;
    height: 20vh;
    margin: 5px;
    display: flex;
    place-content: center;
    place-items: center;
}

.black-block {
    background-color: black;
    color: white;
    width: 40vw;
    height: 30vh;
    margin: 5px;
    display: flex;
    place-content: center;
    place-items: center;
   
    
}

.white-block {
    background-color: white;
    width: 25vw;
    height: 20vh;
    margin: 5px;
    display: flex;
    place-content: center;
    place-items: center;
}

/* TELA DE IPAD */
@media screen and (max-device-width: 768px) {
    .green-block {
        display: flex;
        flex: 1;
        flex-basis: 100vw;
        flex-wrap: nowrap;
        
    }
    .blue-block {
        display: flex;
        flex: 1;
        flex-basis: 25%;
        margin: 10px;
    }
    .yellow-block {
        display: flex;
        flex: 1;
        flex-basis: 25%;
        margin: 10px;
    }
    .white-block {
        display: flex;
        flex: 1;
        flex-basis: 40%;
        margin: 10px;
        flex-wrap: wrap;
    }

}

/* TELA DE CELULAR */
@media screen and (max-device-width: 320px){
    .green-block {
        display: flex;
        flex: 1;
        flex-basis: 100%;
        margin: 10px;
        flex-wrap: wrap;
    }
    .blue-block {
        display: flex;
        flex: 1;
        flex-basis: 100%;
        margin: 10px;
        flex-wrap: wrap; 
    }
    .yellow-block {
        display: flex;
        flex: 1;
        flex-basis: 100%;
        margin: 10px;
        flex-wrap: wrap;
    }
    .black-block {
        display: flex;
        flex: 1;
        flex-basis: 100%;
        margin: 10px;
        flex-wrap: wrap;
        width: 25vw;
    height: 20vh;
    }
    .white-block {
        display: flex;
        flex: 1;
        flex-basis: 100%;
        margin: 10px;
        flex-wrap: wrap;
    }
}