#pond {
    display: flex;
  justify-content: flex-end;
  }

  #pond {
    display: flex;
  justify-content: center
  }

  #pond {
    display: flex;
  justify-content: space-around
  }

  #pond {
    display: flex;
  justify-content: space-between;
  }