#water {
  grid-column-start: 3;
}

#poison {
  grid-column-start: 5;
}

#water {
  grid-column-start: 1;
  grid-column-end: 4;
}

#water {
    grid-column-start: 5;
  grid-column-end: 2
  }

  #water {
    grid-column-start: 1;
  grid-column-end: -2
  }

  #poison {
    grid-column-start: -3
    }