body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: white;
    
}

#main-container{
    display: flex;
    
}

#top-container{
    display: flex;
    
}

#middle-container {
    display: flex;
}

#content2{
    display: flex;
}
#vertical-middle-container{
    display: flex;
}

#image{
    display: flex;
}

#extra{
    display: flex;
}
.green-background {
    background-color: green;
    display: flex;
}

.yellow-background {
    background-color: yellow;
    display: flex;
}

.pink-background {
    background-color: fuchsia;
    display: flex;
}

.blue-background {
    background-color: blue;
    display: flex;
}

.red-background {
    background-color: red;
    display: flex;
}

.lightgreen-background {
    background-color: lightgreen;
    display: flex;
}

.purple-background {
    background-color: purple;
    display: flex;
}