* {
    padding: 0;
    margin: 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #aaaaaa;
    font-size: 20px;
}

.fundo {
    background: linear-gradient(329.54deg, #1a472a 0%, #2a623d 100%) no-repeat;
    
}

img {
    width: 100px;
    height: 100px;
}

.icons {
    width: 20px;
    height: 20px;
}

.greenBox {
    padding: 2%;
    width: 100%;
}

#pageTop {
    text-align: center;
}